.hybrid{
    max-width: 1280px;
    
}
.m0a{
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.w33 {
    width: 33.333%;
}

body{
    background-image: url(../imatges/fondo.png);
    background-color: black;
    background-size: 700px;
    background-position: center top;
}
header{
    background-color: red;
}
div.m0a.hybrid {
    background-color: #F8F8F8;
}
section#banner{
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(143, 12, 12);
}
div#login{
    width: 50%;
    
}
#banner img{
    width: 100%;
    height: auto;
}
#banner{
    height: auto;
}
footer li{
    
}