.hybrid{
    max-width: 1280px;
    
}
.m0a{
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.w33 {
    width: 33.333%;
}
.w50{
    width: 50%;
}
.w66{
    width: 66.666%;
}
.w100{
    width: 100%;
}


body{
    background-image: url(../imatges/fondo.png);
    background-color: black;
    background-size: 700px;
    background-position: center top;
    font-family: "Roboto", sans-serif;
}
div.hybrid.m0a {
    background-color: #F8F8F8;
}
main{

}
div#login{
    width: 50%;
    padding: 200px 0px 200px ;
}
form fieldset label {
    text-align: center;
    position: relative;
    left: 5px;
    top: 10px;
}
form fieldset {

    background-color: rgb(175, 175, 175);
    border: solid 4px rgb(87, 87, 87);
    border-radius: 15px;
}

div#login form fieldset input {
    margin: 20px 0px;
    
}

div#login form fieldset div.w50 input{
    border-radius: 5px;
    padding: 7px;
    width: 90%;
}
div#login form fieldset div#botons{
    margin: 0px auto;
}
form fieldset button, form fieldset input[type="reset"] {
    background-color: #bc4440;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
section#banner{
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    
}

#banner img{
    width: 100%;
    height: auto;
}
#banner{
    height: auto;
}
footer{
 
}
footer li{
    list-style-type: none ;

}
footer li.titol{
    font-size: 18px;
}
footer li {
    font-size: 14px;
    align-items: center;
}
footer li img {
    
    border: none;
    border-right: 1px solid black;
    margin-right: 10px;
    
    align-items: center;
    width: 20px;
    padding-right: 10px;
    height: auto;
}
footer li span{
    position: relative;
    top:-4px;
}
footer li a {
    text-decoration: none;
    color: black;
}

footer table {
 
    margin: 0 auto;
}
footer form input{
    width: 100%;
    font-family: "Roboto", sans-serif;

}
footer form textarea {
    resize: none;
    width: 100%;
    font-family: "Roboto", sans-serif;

}
footer div#mapa{
    padding: 40px;
}

.titol{
    font-family: "Libre Franklin", sans-serif !important;
    font-weight: bold;
}
