.hybrid{
    max-width: 1280px;
    
}
.m0a{
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.w33 {
    width: 33.333%;
}

body{
    background-image: url(../imatges/fondo.png);
    background-color: black;
    background-size: 700px;
    background-position: center top;
}
div.m0a.hybrid {
    background-color: white;
}
header nav {
    display: inline;
    list-style-type: none;
}
header nav ul {
    display: inline;
    list-style-type: none;
}
.alinear {
    text-align: end;
}
.alinear p{
    padding-right: 50px;
    color: red;
    font-size: 200%;
}
.alinear img{
    width: 100%;
}
.marca{
    font-size: 150%;
    color: rgba(0, 0, 0, 0.322);
}
.precio{
    font-size: 200%;
}
.config img{
    width: 60%;
}
.w50 {
    width: 50%;
}
button, input[type="number"] {
    background-color: #bc4440;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
input[type="number"] {
    width: 50px;
    margin-right: 10px;
}